*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(images/desktop/image-hero.jpg);
    height: 80vh;
    padding: 30px;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
header a{
    text-decoration: none;
    color: white;
}
header p{
    color: white;
    font-size: 3em;
    border: 1px solid white;
    margin-top: 10vh;
    text-transform: uppercase;
    width: 400px;
    padding: 15px;
}